---
{
    "json-source" : "https://api.le-systeme-solaire.net/rest/bodies/",
    "json-request-type" : "",
    "json-headers" : {},
    "json-root-node" : "bodies",
    "json-taxonomies": [
        {"node":"aroundPlanet", "field":"planet" },
        {"node":"isPlanet" }
    ],

    "title": "{{ _json.name }}",
    "nav-title": "",
    "meta-desc" : "",
    "meta-title" : "",
    "slug" : "{{ _json.id }}",

    "menus" : [ "bodies" ],
    "layout" : "" 
}
---
<h1>{{ _json.name }}</h1>
<h2>Infos</h2>

<strong>Type : </strong>{% if _json.isPlanet %}planet{% endif %}
{% if not _json.isPlanet %}moon{% endif %}<br/>
{% if _json.discoveredBy %}
<strong>Discovered by :</strong> {{ _json.discoveredBy }}<br/>
<strong>Discovery date :</strong> {{ _json.discoveryDate }}
{% endif %}
<br/>
<br/>
<strong>Semimajor axis :</strong> {{ _json.semimajorAxis }}<br/>
<strong>Perihelion :</strong> {{ _json.perihelion }}<br/>
<strong>Aphelion :</strong> {{ _json.aphelion }}<br/>
<strong>Eccentricity :</strong> {{ _json.eccentricity }}<br/>
<strong>Inclination :</strong> {{ _json.inclination }}<br/>

{% if _json.moons %}
    <h2>Moons</h2>
    {% for page in _taxonomies.aroundPlanet.#id %}
        <a href="{{ page.permalink }}">{{ page._params.title }}</a>,
    {% endfor %}
{% endif %}

{% if not _json.moons %}
    {% if _json.aroundPlanet %}
    <h2>Planet</h2>
    {{ _json.aroundPlanet.planet }}
    {% endif %}
{% endif %}

