---
{
    "json-source" : "https://api.spacex.land/graphql/",
    "json-request-type" : "graphql",
    "json-root-node" : "data.launchesPast",

    "title": "{{ _json.mission_name }}",
    "meta-desc" : "{{ _json.mission_name }} - {{ _json.launch_date_local }}",
    "meta-title" : "{{ _json.mission_name }}",
    "slug" : "{{ _json.mission_name }}",

    "menus" : [ "bodies" ]
}
---
<h1>{{ _json.mission_name }}</h1>
<ul>
    <li><strong>Launch date :</strong> {{ _json.launch_date_local }}</li>
    <li><strong>Launch site :</strong> {{ _json.launch_site.site_name_long }}</li>
    <li><strong>Rocket name :</strong> {{ _json.rocket.rocket_name }}</li>
</ul>

<p>{{ _json.details }}</p>

{% for img in _json.links.flickr_images %}
    {% if img %}
    <img style="width: 200px" src="{{ img }}" />
    {% endif %}
{% endfor %}
