<head>
    <!-- Doctype HTML5 -->
    <!doctype html>
    <!-- Set character encoding for the document -->
    <meta charset="utf-8">
    <!-- Instruct Internet Explorer to use its latest rendering engine -->
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- Viewport for responsive web design -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <html lang="en">
    <html dir="ltr">    

    <meta property="og:description" content="{{ _params.meta-desc }}" />
    <meta property="og:title" content="{{ _params.title }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ _config.site-url }}" />
    <meta property="og:image" content="" />
    <meta property="og:site_name" content="{{ _config.site-name }}" />
    <meta property="og:generator" content="Haumea {% haumea %}" />

    <title>{{ _params.title }}</title>
    <meta name="description" content="{{ _params.meta-desc }}" />
    <meta name="robots" content="{{ _params.meta-robots }}" />
</head>