html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
ul{list-style:none}
button,input,select,textarea{margin:0}
html{box-sizing:border-box}
*,*::before,*::after{box-sizing:inherit}
img,video{height:auto;max-width:100%}
iframe{border:0}
table{border-collapse:collapse;border-spacing:0}
td,th{padding:0}
td:not([align]),th:not([align]){text-align:left}

body {
    font-family: 'Lato', serif;
    color:#fff;
    font-weight:400;
    text-align: center;
}

a {
    color:#fff;
}

h2 {
    font-family: 'Lato', serif;
    font-weight: 400;
    font-size: 32px;
    margin:20px 0 25px 0;
}

h3 {
    font-family: 'Lato', serif;
    font-weight: 400;
    font-size: 23px;
    margin:20px 0 25px 0;
}

h2 strong {
    font-family: 'Lato', serif;
    font-weight: 700;
    font-size: 42px; 
}

p { margin-bottom: 60px; line-height: 25px;}
p span {
    background: #eb8712;
    font-weight: bold;
    padding: 2px 5px;
}

.bg {
    background-image: linear-gradient(to right top, #051937, #4d285b, #9a2e61, #d64b49, #eb8712);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

h1 {
    font-family: 'Lora', serif;
    font-size: 60px;
    margin: 10px 0;
    font-weight: bold;
}

h1 span {
    font-size: 35px;
    font-weight: normal;
}

h1 small {
    font-size: 14px;
    font-weight: normal;
    position: absolute;
    top: 20px;
    left: -40px;
    transform: rotate(-45deg); 
    background-color: #eb8712;
    padding: 10px;
    width: 150px;
    font-weight: bold;
    font-family: 'Lato', serif;
}

.terminal {
    width: 450px;
    text-align: left;
    margin: 10px auto;
}

.w600 {
    width: 600px;
}

.terminal::before{
    background-color: #141e2b;
    height: 25px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: block;
    padding: 5px;
    content:'';
}

.terminal ul {
    padding: 5px;
    margin: 0px;
    background-color: #182533;
    color:lightgray;
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

xmp {
    color:#fff;
    font-family: 'Noto Sans', sans-serif;
    font-size: 12px;
    padding: 10px;
    margin: 10px;
    background: #354658;
    border-radius: 10px;
}

.documentation .terminal ul {
    height: auto;
    padding: 10px;
}

.terminal ul li { 
    list-style: none;
    padding-bottom: 5px;
}

.terminal ul li span { 
    color:#eb8712;
}



.terminal ul li::before { 
    content: '>';
    color: #4c535c;
    margin-right: 10px;
}

.withoutbefore ul li { 
    padding-bottom: 2px;
}

.withoutbefore ul li::before { 
    content: ' ';
    color: #4c535c;
    margin-right: 10px;
}

xmp::before {
    content: '';
    margin: 0;
}


ul.main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 80px;
}

ul.main li {
    list-style: none;
    margin-right: 30px;
}

ul.main li a {
    color: #fff;
    font-size: 20px;
    text-decoration:none;
    text-transform: lowercase;
}

ul.main li a:hover {
    text-decoration:underline;
}

ul.main li a.is-active {
    text-decoration: underline;
}

.button {
    margin: 20px;
    text-decoration: none;
    font-weight: 700;
    background: #fff;
    padding: 20px;
    color: #141e2b;
    text-transform: uppercase;
    font-family: 'Lato';
}

.button:hover {
    color: #d64b49;
}

footer {
    margin: 200px auto 10px auto;
    font-size: 11px;
    color:#fff;
    width: 100%;
}

footer div {
    margin: 0 auto;
}

footer a {
    color: #fff;
}

.documentation p {
    margin: 10px 0 10px 0;
}