<!DOCTYPE html>
<html lang="">
    {% include "partials/head.html" %}
    <body class="">
        <div class="github"><a class="github-button" href="https://github.com/guillbertrand/haumea" data-color-scheme="no-preference: dark; light: dark; dark: dark;" data-size="large" data-show-count="true" aria-label="Star guillbertrand/haumea on GitHub">Star</a></div>
        <div class="bg"></div>
        {% include "partials/header.html" %}
        <div id="content">
            {{ _content }}
        </div>
        <script async defer src="https://buttons.github.io/buttons.js"></script>
    </body>
</html>
